.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    /* display: none; */
}

.panel-opts p{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.panel-opts{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}